Django>=5.0,<5.1
psycopg2-binary>=2.9.9
Pillow>=10.1.0
redis>=5.0.1
celery>=5.3.4
yandex-music>=2.1.0
requests>=2.31.0
python-dotenv>=1.0.0
django-htmx>=1.17.0
django-tailwind>=3.8.0
gunicorn>=21.2.0
whitenoise>=6.6.0
cyrtranslit>=1.0
dj-database-url>=2.1.0
